/* Sidebar.css */

.sidebar {
	width: 200px; /* Set initial width */
	min-width: 200px; /* Ensure minimum width */
	height: 800px;
	overflow-y: auto;
	padding: 20px;
	border-right: 1px solid #ddd;
}

.sidebar button {
	width: 200px;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sidebar button:hover {
	background-color: #45a049;
}

.sidebar button:active {
	background-color: #357835;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar li {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
